.wrapper {
    display: flex;
    flex-flow: row;
    align-items: top;
    justify-content: center;
}

.controls-container, .tools, .colors{
    display: inline-flex;
    flex-flow: column;
}

.colors {
    margin-top: 20px;
    align-items: flex-end;
}

.colors div {
    border: 1px solid black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 5px 7px 7px 0;
    cursor: pointer;
}

.colors div:hover {
    border: 3px solid black;
    margin: 3px 5px 5px 0;
}

.tools svg:hover {
    background-color: #ededed;
}

.tools svg {
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

 path, .selected-tool {
    fill-opacity: 0;
    stroke: #000;
    stroke-width: 3;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: draw 6s linear;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

canvas {
    border: 1px solid black; 
    border-radius: 10px;
    box-shadow: 20px 20px 22px -13px rgba(136,136,136,1);
}